<div class="app-nav-container">
	<mat-toolbar color="primary" class="fixed-nav-bar">
		<button
			type="button"
			aria-label="Toggle sidenav"
			mat-icon-button
			(click)="drawer.toggle()"
		>
			<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
		</button>
		<span class="fill-remain-spaces"></span>
		<span class="navbar-brand" [routerLink]="['.']">AppService</span>
		<span class="fill-remain-spaces"></span>
	</mat-toolbar>
	<mat-sidenav-container class="sidenav-container">
		<mat-sidenav
			#drawer
			class="sidenav"
			[attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
			[mode]="(isHandset$ | async) ? 'over' : 'side'"
			[opened]="!(isHandset$ | async) === true"
		>
			<mat-nav-list (click)="CloseMenu(drawer)">
				<a mat-list-item [routerLink]="['/client']">Clientes</a>
				<a mat-list-item href="/swagger">Swagger</a>
			</mat-nav-list>
		</mat-sidenav>
		<mat-sidenav-content>
			<!-- Add Content Here -->
			<ng-content></ng-content>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>
